.expense-group-summary {
  background: $darkGray;
  border-left: 1px solid #465963;
  min-width: rem(200);
  padding: rem(24);
  text-align: center;

  hr {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    height: rem(1);
    margin: rem(16 0 30);
  }
}

.expense-group-action-btn {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: rem(36);
  justify-content: center;
  width: rem(36);
}
