.atomikui-btn {
  text-transform: lowercase !important;

  &--sm {
    font-size: rem(14);
    padding: rem(6 12);
    line-height: 1;
  }

  &--md {
    font-size: rem(15);
    line-height: 1;
  }
}
