.atomikui-card {
  position: relative;
  overflow: hidden;
}

.atomikui-card__body {
  padding: 0;
}

.atomikui-card__header {
  border-bottom: rem(1) solid lighten($darkGray, 18%);
  font-size: rem(19);
  padding-bottom: rem(16);
}

.atomikui-card__footer {
  border-top: rem(1) solid lighten($darkGray, 18%);
  padding-top: rem(14);
}

.atomikui-card {
  background: lighten($darkGray, 5%);
}
