.atomikui-card {
  position: relative;
  overflow: hidden;
}

.atomikui-card__body {
  padding: 0;
}

.atomikui-card__header {
  border-bottom: rem(1) solid $blue-gray-600;
  font-size: rem(19);
  padding-bottom: rem(16);
}

.atomikui-card__footer {
  border-top: rem(1) solid $blue-gray-600;
  padding-top: rem(14);
}

.atomikui-card {
  background: $blue-gray-800;
}
