.layout {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    height: calc(100vh - 50px);
    overflow: auto;

    & > main {
      flex: 1;
      padding: rem(24);
      overflow: auto;
      max-width: rem(960);
      margin: 0 auto;
    }
  }
}
