.layout {
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    overflow: auto;

    & > aside {
      background: darken($blue-gray-900, 3%);
      display: none;
      width: 35%;

      & > * {
        // height: 100%;

        .CodeMirror {
          background: transparent;
          height: calc(100vh - 60px);

          pre {
            font-size: rem(15);
            line-height: 1.3;
          }
        }
      }
    }

    & > main {
      flex: 1;
      height: 100vh;
      overflow: auto;
      padding: rem(24);
    }
  }

  @media (min-width: $breakpoint-medium) {
    &__content {
      & > aside {
        display: block;
      }
    }
  }
}
