.main-header {
  align-items: center;
  background: darken($blue-gray-900, 5%);
  display: flex;
  font-size: rem(26);
  font-weight: $font-semibold;
  height: rem(60);
  justify-content: center;
  padding: rem(0 6);
}
