.main-header {
  align-items: center;
  background: darken($blue-gray-900, 5%);
  display: flex;
  font-size: rem(20);
  font-weight: $font-semibold;
  height: rem(50);
  justify-content: space-between;
  padding: rem(0 16);
}
