.editor {
  background: lighten($darkGray, 5%);

  &__hd {
    border-bottom: rem(1) solid rgba(255, 255, 255, 0.15);
    padding: rem(16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }
}
