.editor {
  background: darken($blue-gray-900, 3%);

  &__hd {
    border-bottom: rem(1) solid $blue-gray-800;
    padding: rem(16);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
  }
}
